* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 60px;
}

.logo-image {
    width: 70px;
    height: 80px;
    object-fit: contain;
    display: block;
    transform: translateY(6px);
}

.logo-text {
    color: #3d4127;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    transform: translateY(2px);
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 50px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    color: #3d4127;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #d4de95;
}

.btn-start {
    background-color: #636b2f;
    color: #ffffff;
    text-decoration: none;
    padding: 0.6rem 1.3rem;
    border-radius: 13px;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: inline-block;
}

.btn-start:hover {
    background-color: #bac095;
}

.btn-start:active {
    transform: scale(0.98);
}

.nav-right-group {
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* Background overlay */
#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111; /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Keeps it on top */
  animation: slideUpOverlay 1.2s cubic-bezier(0.77, 0, 0.175, 1) 2.5s forwards;

}

/* big appearing text  */
.opening-text {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 5px;
    opacity: 0;
    transform: scale(0.8);
    animation: textAppear 1.1s cubic-bezier(0.16, 1, 0.3, 1) 0.3s forwards;
}

/* Text animation: Zooms in and fades in */
@keyframes textAppear {
    to {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* Overlay Animation: slideUp out completely */
@keyframes slideUpOverlay {
  to {
    transform: translateY(-100%);
  }
}